<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>
 
<p>
  <strong>Gender:</strong>
  <%= @employee.gender %>
</p>
<p>
  <strong>Age:</strong>
  <%= @employee.age %>
</p>
<p>
  <strong>Telephone:</strong>
  <%= @employee.telephone %>
</p>
